<!-- the file name has to be _celebnames_fields -->
<div class="fields">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.label :name, "#{t 'babyname.nickname'}:" %>
	<%= f.text_field("name") %>
	<%= link_to_remove_fields "#{t 'babyname.remove'}", f %>
	<br />
</div>