 <footer>
	<nav class="round">
 		<iframe src="http://www.facebook.com/plugins/like.php?href=http%253A%252F%252Fwww.mixedbabyname.com&amp;layout=standard&amp;show_faces=true&amp;width=350&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:80px;" allowTransparency="true"></iframe>
  
          
      <p>
      <%= link_to("Home", :controller => "pages", :action => "home") %>&nbsp;|&nbsp;© 2010 Ai Nakatani&nbsp;|&nbsp;All rights reserved&nbsp;|&nbsp;Developer's Website: <a href="http://ainakatani.com" target="_blank">http://ainakatani.com</a></small>
      </p>
    </nav>
</footer>
